@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: greenyellow;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-weight:bold;
}

body {

}


.container {  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
  grid-template-rows: 0.3fr 1.3fr 0.3fr 2.1fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header"
    "left-buffer submission-form-area submission-form-area submission-form-area right-buffer"
    "left-buffer mid-page-buffer mid-page-buffer mid-page-buffer right-buffer"
    "left-buffer returned-submission-forms returned-submission-forms returned-submission-forms right-buffer"
    "footer footer footer footer footer";
}

.header { grid-area: header; }

.submission-form-area { grid-area: submission-form-area; }

.mid-page-buffer { grid-area: mid-page-buffer; }

.returned-submission-forms { grid-area: returned-submission-forms; }

.footer { grid-area: footer; }

.left-buffer { grid-area: left-buffer; }

.right-buffer { grid-area: right-buffer; }
